<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Whatsapp</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h3>All the chats</h3>
    <form action="/chats/new" method="get">
        <button>New Chat</button>
    </form>
   <%  for (let chat of chats){ %>
        <div class="chat">
         <p>From : <%= chat.from %> </p>
         <div class="msg">
             <p><%= chat.msg %> </p>
             <form action="/chats/<%= chat._id %>/edit" method="get">
                      <button>edit</button>        
            </form>

            <form action="/chats/<%= chat._id %>" method="get">
                    <button>show</button>
            </form>

         </div>
         <p>Recieved By : <%= chat.to %> </p>
         <hr>
         <p><%= chat.created_at.toString().split(" ")[4]%> </p>
         <p><%= chat.created_at.toString().split(" ").slice(0,3).join("-")%> </p>
         <form action="/chats/<%= chat._id %>/?_method=DELETE" method="post">
               <button>Delete Chat</button>
         </form>

        </div>
         <br>
         <br>
    <% } %>
</body>
</html>

